Repository InnerSourceCommons/InnerSourceLearningPath, pull requests merged in 2019-03, with the labels that each got.

#50 Create video-proposal.md
  contributor/video-proposal.md
Labels: Contributor

#6 Create introduction/what-is.md
  introduction/what-is.md
Labels: Introduction

#53 Update outline.md
  contributor/outline.md
Labels: Contributor

#51 Add additional points from the brainstorm document.
  contributor/outline.md
Labels: Contributor

#57 Modified link in 02_primer slide on requirements
  assets/segment-04-po/02_primer 01_Requirements (1).png
  assets/segment-04-po/02_primer 01_Requirements (2).png
  assets/segment-04-po/02_primer 01_Requirements (3).png
  assets/segment-04-po/02_primer 01_Requirements (4).png
Labels: Product Owner

#55 Split Trusted Committer articles
  trusted-committer/01-introduction.md
  trusted-committer/02-ensuring-product-quality.md
  trusted-committer/03-keeping-the-community-healthy.md
  trusted-committer/04-uplevelling-community-members.md
  trusted-committer/05-lowering-the-barriers-to-entry.md
  trusted-committer/06-advocating-for-the-communitys-needs.md
  trusted-committer/07-becoming-a-trusted-committer.md
  trusted-committer/08-conclusion.md
  trusted-committer/trusted-committer-article.md
Labels: Trusted Committer

#59 Polished content outline
  contributor/outline.md
Labels: Contributor
