Repository InnerSourceCommons/InnerSourceLearningPath, pull requests merged in 2019-09, with the labels that each got.

#113 Create LICENSE.txt
  LICENSE.txt
Labels: Meta

#115 Some wordsmithing / review
  introduction/principles.md
Labels: Article, Introduction

#116 Benefits of contribution
  contributor/05-benefits-of-contribution.md
Labels: Article, Contributor

#128 Adjust wording/spelling/punctuation
  introduction/principles.md
Labels: Article, Introduction

#135 Add Contributor section stubs
  contributor/01-introduction-script.md
  contributor/02-becoming-a-contributor-script.md
  contributor/03-contributor-ethos-script.md
  contributor/04-mechanics-of-contributing-script.md
  contributor/05-benefits-of-contribution-script.md
  contributor/06-conclusion-script.md
Labels: Contributor, Script, Video
