Repository InnerSourceCommons/InnerSourceLearningPath, pull requests merged in 2019-02, with the labels that each got.

#34 Add revisioned slides for PO videos (Segment 4)
  assets/segment-04-po/02_primer-01_requirements-01.png
  assets/segment-04-po/02_primer-01_requirements-02.png
  assets/segment-04-po/02_primer-01_requirements-03.png
  assets/segment-04-po/03_body_pt1-01_difficulties-01.png
  assets/segment-04-po/03_body_pt1-01_difficulties-02.png
  assets/segment-04-po/03_body_pt1-01_difficulties-03.png
  assets/segment-04-po/03_body_pt1-02_complaints-01.png
  assets/segment-04-po/03_body_pt1-02_complaints-02.png
  assets/segment-04-po/03_body_pt1-02_complaints-03.png
  assets/segment-04-po/03_body_pt1-02_complaints-04.png
  assets/segment-04-po/03_body_pt1-02_complaints-05.png
  assets/segment-04-po/03_body_pt1-02_complaints-06.png
  assets/segment-04-po/04_body_pt2-01-benefits-01.png
  assets/segment-04-po/04_body_pt2-01-benefits-02.png
  assets/segment-04-po/04_body_pt2-01-benefits-03.png
  assets/segment-04-po/04_body_pt2-01-benefits-04.png
  assets/segment-04-po/04_body_pt2-02-colneg-01.png
  assets/segment-04-po/04_body_pt2-02-colneg-02.png
  assets/segment-04-po/04_body_pt2-02-colneg-03.png
  assets/segment-04-po/04_body_pt2-03-examples-01.png
  assets/segment-04-po/04_body_pt2-03-examples-02.png
  assets/segment-04-po/04_body_pt2-03-examples-03.png
  assets/segment-04-po/04_body_pt2-03-examples-04.png
  assets/segment-04-po/05_body_pt3-01-roles-01.png
  assets/segment-04-po/05_body_pt3-01-roles-02.png
  assets/segment-04-po/05_body_pt3-01-roles-03.png
  assets/segment-04-po/05_body_pt3-01-roles-04.png
  assets/segment-04-po/05_body_pt3-01-roles-05.png
  assets/segment-04-po/06_recap_takeaways-01-wrapup-01.png
  assets/segment-04-po/06_recap_takeaways-01-wrapup-02.png
  assets/segment-04-po/06_recap_takeaways-01-wrapup-03.png
  assets/segment-04-po/06_recap_takeaways-01-wrapup-04.png
  assets/segment-04-po/06_recap_takeaways-01-wrapup-05.png
  assets/segment-04-po/06_recap_takeaways-01-wrapup-06.png
  assets/segment-04-po/06_recap_takeaways-01-wrapup-07.png
  assets/segment-04-po/06_recap_takeaways-01-wrapup-08.png
  assets/segment-04-po/06_recap_takeaways-02-wrapup-01.png
  assets/segment-04-po/06_recap_takeaways-02-wrapup-02.png
  assets/segment-04-po/06_recap_takeaways-02-wrapup-03.png
  assets/segment-04-po/06_recap_takeaways-02-wrapup-04.png
  assets/segment-04-po/06_recap_takeaways-02-wrapup-05.png
  assets/segment-04-po/07_contact-01-isc.png
  assets/segment-04-po/07_contact-02-silona.png
Labels: Product Owner

#8 Create introduction/introduction.md
  introduction/introduction.md
Labels: Introduction

#7 Create introduction/problems-solved.md
  introduction/problems-solved.md
Labels: Introduction

#3 Create introduction/conclusion.md
  introduction/conclusion.md
Labels: Introduction

#38 Moved trusted committer files to the proper folder structure
  trusted-committer/trusted-committer-article.md
  trusted-committer/trusted-committer-script.md
Labels: Trusted Committer

#5 Create introduction/benefits.md
  introduction/benefits.md
Labels: Introduction

#40 Create CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Meta

#1 initial outline with Russ Rutledge and Cedric Williams and Noah Cawley
  trusted-committer/outline.md
Labels: Trusted Committer

#37 Create contributor/outline.md
  contributor/outline.md
Labels: Contributor
