Repository InnerSourceCommons/InnerSourceLearningPath, pull requests merged in 2019-08, with the labels that each got.

#99 Enable future contributors by asking questions
  contributor/outline.md
Labels: Contributor

#100 Add the cost sharing aspect to company level benefits
  contributor/outline.md
Labels: Contributor

#96 Added initial video transcriptions for PO articles
  product-owner/01-opening-article.md
  product-owner/02-how-difficult-it-is-to-be-a-middle-manager-article.md
  product-owner/03-major-benefits-are-built-into-the-innersource-process-article.md
  product-owner/04-new-roles-and-responsibilities-article.md
  product-owner/05-recap-takeaways-article.md
  product-owner/06-closing-and-contact-article.md
  product-owner/assignments.md
  product-owner/outline.md
Labels: Product Owner

#112 Rephrase contributor definition
  contributor/01-introduction-article.md
Labels: Article, Contributor

#110 Heading suggestions
  contributor/01-introduction-article.md
Labels: Article, Contributor

#101 Fixes #69 - becoming a contributor
  contributor/02-becoming-a-contributor.md
Labels: Article, Contributor

#102 Fixes #72 adding detail to the contributor ethos.
  contributor/03-contributor-ethos.md
Labels: Article, Contributor

#111 Rewrite introductory paragraphs
  contributor/01-introduction-article.md
Labels: Article, Contributor
