Repository InnerSourceCommons/InnerSourceLearningPath, pull requests merged in 2019-10, with the labels that each got.

#117 First version of the mechanics of contributing article, addresses #74
  contributor/04-mechanics-of-contributing.md
Labels: Article, Contributor

#134 Addresses #78 - adds conclusion article starter
  contributor/06-conclusion.md
Labels: Article, Contributor

#136 Fix #131 Add starter version of the Contributor Introduction Script
  contributor/01-introduction-script.md
Labels: Contributor, Script, Video

#156 Add script for benefits of contribution section.
  contributor/05-benefits-of-contribution-script.md
Labels: Contributor, Script

#145 Draft Mechanics script fix #137
  contributor/04-mechanics-of-contributing-script.md
Labels: Contributor, Script

#154 Add script for the becoming a contributor section.
  contributor/02-becoming-a-contributor-script.md
Labels: Contributor, Script

#155 Add contributor ethos script based on articles.
  contributor/03-contributor-ethos-script.md
Labels: Contributor, Script

#173 Assign paragraphs to speakers
  contributor/03-contributor-ethos-script.md
Labels: Contributor, Script

#174 Assign paragraphs to speakers.
  contributor/05-benefits-of-contribution-script.md
Labels: Contributor, Script

#175 Shortened to fit into 3 mintues.
  contributor/01-introduction-script.md
Labels: Contributor, Script

#177 Shorten parts of the mechanics script to make it fit the time.
  contributor/04-mechanics-of-contributing-script.md
Labels: Contributor, Script
