Repository InnerSourceCommons/InnerSourceLearningPath, pull requests merged in 2019-11, with the labels that each got.

#181 addresses #114
  contributor/01-introduction-article.md
  contributor/02-becoming-a-contributor-article.md
  contributor/03-contributor-ethos-article.md
  contributor/04-mechanics-of-contributing-article.md
  contributor/05-benefits-of-contribution-article.md
  contributor/06-conclusion-article.md
  introduction/01-introduction.md
  introduction/02-problems-solved.md
  introduction/03-how-works.md
  introduction/04-benefits.md
  introduction/05-principles.md
  introduction/06-conclusion.md
  trusted-committer/01-introduction.md
  trusted-committer/02-ensuring-product-quality.md
  trusted-committer/03-keeping-the-community-healthy.md
  trusted-committer/04-uplevelling-community-members.md
  trusted-committer/05-lowering-the-barriers-to-entry.md
  trusted-committer/06-advocating-for-the-communitys-needs.md
  trusted-committer/07-becoming-a-trusted-committer.md
  trusted-committer/08-conclusion.md
Labels: Article, Contributor

#180 Transfers the product owner workbook section to GitHub. Adresses #123.
  workbook/03-product-owner.asciidoc
Labels: Product Owner, Workbook

#185 Initial move of workbook introduction from Google Doc to GitHub.
  workbook/01-introduction.asciidoc
Labels: Contributor, Workbook

#186 Initial move of TC workbook from GoogleDoc to GitHub
  workbook/02-trusted-committer.asciidoc
Labels: Trusted Committer, Workbook

#183 Contributor intro article - style review
  contributor/01-introduction-article.md
Labels: Article, Contributor

#188 Style updates to article #2 - becoming a contributor.
  contributor/01-introduction-article.md
  contributor/02-becoming-a-contributor-article.md
Labels: Article

#190 Atlas sync
  .github/workflows/SyncToAtlas.yml
Labels: Meta

#189 Moves the workbook contributor section to GitHub.
  workbook/04-contributor.asciidoc
Labels: Contributor, Workbook

#192 Include the workbook in the README.md, last fix for #123
  README.md
Labels: Workbook

#194 Extend Atlas Syncing to sync to the other 4 repos for the other products
  .github/workflows/SyncToAtlas.yml
Labels: Meta
