Repository InnerSourceCommons/InnerSourceLearningPath, pull requests merged in 2020-09, with the labels that each got.

#300 Generate learning path markdown
  .gitignore
  product-owner/01-opening-article.asciidoc
  product-owner/02-how-difficult-it-is-to-be-a-middle-manager-article.asciidoc
  product-owner/03-major-benefits-are-built-into-the-innersource-process-article.asciidoc
  product-owner/04-new-roles-and-responsibilities-article.asciidoc
  product-owner/05-recap-takeaways-article.asciidoc
  product-owner/06-closing-and-contact-article.asciidoc
  scripts/README.md
  scripts/generate_learning_path_markdown.js
Labels: Article, Self-Hosting, Translations

#287 translation for trusted committer chapter 02 and 03 to german added
  trusted-committer/de/02-ensuring-product-quality-de.asciidoc
  trusted-committer/de/03-keeping-the-community-healthy-de.asciidoc
Labels: Article, Translation, Trusted Committer

#276 Translate"Trusted Committer"into Chinese
  trusted-committer/CN/01-introduction-zh.asciidoc
  trusted-committer/CN/02-ensuring-product-quality-zh.asciidoc
  trusted-committer/CN/03-keeping-the-community-healthy-zh.asciidoc
  trusted-committer/CN/04-uplevelling-community-members-zh.asciidoc
  trusted-committer/CN/05-lowering-the-barriers-to-entry-zh.asciidoc
  trusted-committer/CN/06-advocating-for-the-communitys-needs-zh.asciidoc
  trusted-committer/CN/07-becoming-a-trusted-committer-zh.asciidoc
  trusted-committer/CN/08-conclusion-zh.asciidoc
Labels: Article, Translation

#306 Generate pages for translated articles
  contributor/zh/01-introduction-zh.asciidoc
  contributor/zh/02-becoming-a-contributor-zh.asciidoc
  contributor/zh/03-contributor-ethos-zh.asciidoc
  contributor/zh/04-mechanics-of-contributing-zh.asciidoc
  contributor/zh/05-benefits-of-contribution-zh.asciidoc
  contributor/zh/06-conclusion-zh.asciidoc
  package-lock.json
  scripts/generate_learning_path_markdown.js
  sync.sh
  trusted-committer/de/01-introduction-de.asciidoc
  trusted-committer/zh/01-introduction-zh.asciidoc
  trusted-committer/zh/02-ensuring-product-quality-zh.asciidoc
  trusted-committer/zh/03-keeping-the-community-healthy-zh.asciidoc
  trusted-committer/zh/04-uplevelling-community-members-zh.asciidoc
  trusted-committer/zh/05-lowering-the-barriers-to-entry-zh.asciidoc
  trusted-committer/zh/06-advocating-for-the-communitys-needs-zh.asciidoc
  trusted-committer/zh/07-becoming-a-trusted-committer-zh.asciidoc
  trusted-committer/zh/08-conclusion-zh.asciidoc
Labels: Self-Hosting, Translation
