Repository InnerSourceCommons/InnerSourceLearningPath, pull requests merged in 2020-10, with the labels that each got.

#320 Polished the Chinese translation of contributor
  contributor/zh/01-introduction-zh.asciidoc
  contributor/zh/02-becoming-a-contributor-zh.asciidoc
  contributor/zh/03-contributor-ethos-zh.asciidoc
  contributor/zh/04-mechanics-of-contributing-zh.asciidoc
  contributor/zh/05-benefits-of-contribution-zh.asciidoc
Labels: Contributor, Translations

#314 Polish the Chinese documentation of trusted committer
  trusted-committer/zh/01-introduction-zh.asciidoc
  trusted-committer/zh/02-ensuring-product-quality-zh.asciidoc
  trusted-committer/zh/03-keeping-the-community-healthy-zh.asciidoc
  trusted-committer/zh/04-uplevelling-community-members-zh.asciidoc
  trusted-committer/zh/05-lowering-the-barriers-to-entry-zh.asciidoc
  trusted-committer/zh/06-advocating-for-the-communitys-needs-zh.asciidoc
  trusted-committer/zh/07-becoming-a-trusted-committer-zh.asciidoc
  trusted-committer/zh/08-conclusion-zh.asciidoc
Labels: Article, Translations, Trusted Committer

#311 Addresses #256 translate trusted committer chapter04
  trusted-committer/de/04-uplevelling-community-members.asciidoc
Labels: Translations, Trusted Committer, good first issue

#315 draft translation of chapter 05
  trusted-committer/de/05-lowering-the-barriers-to-entry.asciidoc
Labels: Article, Translation, Trusted Committer

#317 256 translate trusted committer chapter06
  trusted-committer/de/06-advocating-for-the-communitys-needs.asciidoc
Labels: Translations, Trusted Committer

#316 Polished the Chinese translation of introduction
  contributor/zh/01-introduction-zh.asciidoc
  introduction/zh/02-problems-solved-zh.asciidoc
  introduction/zh/03-how-works-zh.asciidoc
  introduction/zh/04-benefits-zh.asciidoc
  introduction/zh/05-principles-zh.asciidoc
  introduction/zh/06-conclusion-zh.asciidoc
  introduction/zh/outline-zh.asciidoc
Labels: Article, Introduction, Translations

#310 first commit of italian translation
  introduction/it/01-introduction.asciidoc
  introduction/it/02-problems-solved.asciidoc
  introduction/it/03-how-works.asciidoc
  introduction/it/04-benefits.asciidoc
  introduction/it/05-principles.asciidoc
  introduction/it/06-conclusion.asciidoc
Labels: Article, Introduction, Translation

#324 256 translate trusted committer chapter08
  trusted-committer/de/08-conclusion.asciidoc
Labels: Translation, Trusted Committer

#322 #321 Added the Chinese translation of product owner
  product-owner/zh/01-opening-article-zh.asciidoc
  product-owner/zh/02-how-difficult-it-is-to-be-a-middle-manager-article-zh.asciidoc
  product-owner/zh/03-major-benefits-are-built-into-the-innersource-process-article-zh.asciidoc
  product-owner/zh/04-new-roles-and-responsibilities-article-zh.asciidoc
  product-owner/zh/05-recap-takeaways-article-zh.asciidoc
  product-owner/zh/06-closing-and-contact-article-zh.asciidoc
  product-owner/zh/outline-zh.asciidoc
Labels: Article, Product Owner, Translation

#323 256 translate trusted committer chapter07
  trusted-committer/de/07-becoming-a-trusted-committer.asciidoc
Labels: Translation, Trusted Committer
