Repository InnerSourceCommons/InnerSourceLearningPath, pull requests merged in 2021-05, with the labels that each got.

#402 Translation-ja: Add trusted-committer/ja/06-advocating-for-the-communitys-needs-ja
  trusted-committer/ja/06-advocating-for-the-communitys-needs-ja.asciidoc
Labels: Translation, Trusted Committer

#399 "Incorporating InnerSource Into Sprints" Outline
  sprint-implementation/outline.md
Labels: Article

#404 Translation-ja: Add trusted-committer/ja/07-becoming-a-trusted-commiter-ja
  trusted-committer/ja/07-becoming-a-trusted-committer-ja.asciidoc
Labels: Article, Translation, Trusted Committer
