Repository InnerSourceCommons/InnerSourceLearningPath, pull requests merged in 2021-08, with the labels that each got.

#427 Format and link
  introduction/fr/02-problèmes-résolus.asciidoc
  introduction/fr/04-avantages.asciidoc
  introduction/fr/05-principles.asciidoc
Labels: Article, Translation

#440 Rename filenames for translated articles to align the guideline
  introduction/fr/01-introduction-fr.asciidoc
  introduction/fr/02-problems-solved-fr.asciidoc
  introduction/fr/03-how-works-fr.asciidoc
  introduction/fr/04-benefits-fr.asciidoc
  introduction/fr/05-principles-fr.asciidoc
  introduction/fr/06-conclusion-fr.asciidoc
  introduction/it/01-introduction-it.asciidoc
  introduction/it/02-problems-solved-it.asciidoc
  introduction/it/03-how-works-it.asciidoc
  introduction/it/04-benefits-it.asciidoc
  introduction/it/05-principles-it.asciidoc
  introduction/it/06-conclusion-it.asciidoc
  introduction/ru/01-introduction-ru.asciidoc
  introduction/ru/02-problems-solved-ru.asciidoc
  introduction/ru/03-how-works-ru.asciidoc
  introduction/ru/04-benefits-ru.asciidoc
  introduction/ru/05-principles-ru.asciidoc
  introduction/ru/06-conclusion-ru.asciidoc
  trusted-committer/de/04-uplevelling-community-members-de.asciidoc
  trusted-committer/de/05-lowering-the-barriers-to-entry-de.asciidoc
  trusted-committer/de/06-advocating-for-the-communitys-needs-de.asciidoc
  trusted-committer/de/07-becoming-a-trusted-committer-de.asciidoc
  trusted-committer/de/08-conclusion-de.asciidoc
Labels: Article, Self-Hosting

#444 Changed links to point to proper content
  contributor/01-introduction-article.asciidoc
  contributor/de/01-introduction-article-de.asciidoc
  contributor/it/01-introduction-article-it.asciidoc
  contributor/zh/01-introduction-zh.asciidoc
Labels: Article, Translation

#443 Minor fixes for Japanese translations
  contributor/ja/01-introduction-article-ja.asciidoc
  contributor/ja/02-becoming-a-contributor-article-ja.asciidoc
  contributor/ja/03-contributor-ethos-article-ja.asciidoc
  contributor/ja/04-mechanics-of-contributing-article-ja.asciidoc
  contributor/ja/05-benefits-of-contribution-article-ja.asciidoc
  contributor/ja/06-conclusion-article-ja.asciidoc
  contributor/ja/index.md
  introduction/ja/03-how-works-ja.asciidoc
  introduction/ja/04-benefits-ja.asciidoc
  introduction/ja/05-principles-ja.asciidoc
  introduction/ja/06-conclusion-ja.asciidoc
  introduction/ja/index.md
  product-owner/ja/03-major-benefits-are-built-into-the-innersource-process-article-ja.asciidoc
  product-owner/ja/05-recap-takeaways-article-ja.asciidoc
  product-owner/ja/index.md
  trusted-committer/ja/01-introduction-ja.asciidoc
  trusted-committer/ja/02-ensuring-product-quality-ja.asciidoc
  trusted-committer/ja/03-keeping-the-community-healthy-ja.asciidoc
  trusted-committer/ja/04-uplevelling-community-members-ja.asciidoc
  trusted-committer/ja/05-lowering-the-barriers-to-entry-ja.asciidoc
  trusted-committer/ja/06-advocating-for-the-communitys-needs-ja.asciidoc
  trusted-committer/ja/07-becoming-a-trusted-committer-ja.asciidoc
  trusted-committer/ja/08-conclusion-ja.asciidoc
  trusted-committer/ja/index.md
Labels: Article, Translation

#445 L10n es tc outline.md
  trusted-committer/es/outline-es.md
Labels: Trusted Committer, Translation
