Repository InnerSourceCommons/InnerSourceLearningPath, pull requests merged in 2021-02, with the labels that each got.

#360 Translation-ja: Add contributor/ja/05-benefits and 06-conclusion
  contributor/ja/05-benefits-of-contribution-article-ja.asciidoc
  contributor/ja/06-conclusion-article-ja.asciidoc
Labels: Translation

#368 Translation-ja: Add trusted-committer/ja/01-introduction-ja
  trusted-committer/ja/01-introduction-ja.asciidoc
Labels: Translation, Trusted Committer

#359 Italian translation of the Contributor section
  contributor/it/01-introduction-article-it.asciidoc
  contributor/it/02-becoming-a-contributor-article-it.asciidoc
  contributor/it/03-contributor-ethos-article-it.asciidoc
  contributor/it/04-mechanics-of-contributing-article-it.asciidoc
  contributor/it/05-benefits-of-contribution-article-it.asciidoc
  contributor/it/06-conclusion-article-it.asciidoc
  scripts/generate_learning_path_markdown.js
Labels: Article, Contributor, Translation

#351 Spanish: Add first translation, Introduction to the Learning Path
  introduction/es/01-introduction-es.asciidoc
  introduction/es/02-problems-solved-es.asciidoc
Labels: Article, Introduction, Translation

#371 Translation-ja: Add trusted-committer/ja/02-ensuring-product-quality
  trusted-committer/ja/02-ensuring-product-quality-ja.asciidoc
Labels: Translation, Trusted Committer

#361 German translation contributor chapter 01
  contributor/de/01-introduction-article-de.asciidoc
Labels: Contributor, Translation
