Repository InnerSourceCommons/InnerSourceLearningPath, pull requests merged in 2021-07, with the labels that each got.

#425 Translation-ja: Add product-owner/ja/06-closing-and-contact
  product-owner/ja/06-closing-and-contact-article-ja.asciidoc
Labels: Article, Product Owner, Translation

#409 Add Spanish translation for Intro -> 05 principles
  introduction/es/05-principles.asciidoc
Labels: Article, Introduction, Translation

#419 Fix broken links for translated articles
  contributor/zh/01-introduction-zh.asciidoc
  contributor/zh/04-mechanics-of-contributing-zh.asciidoc
  contributor/zh/06-conclusion-zh.asciidoc
  introduction/es/03-how-works.asciidoc
  introduction/ru/04-benefits.asciidoc
  introduction/ru/05-principles.asciidoc
  introduction/zh/03-how-works-zh.asciidoc
  introduction/zh/04-benefits-zh.asciidoc
  introduction/zh/05-principles-zh.asciidoc
  introduction/zh/06-conclusion-zh.asciidoc
  product-owner/zh/01-opening-article-zh.asciidoc
  product-owner/zh/03-major-benefits-are-built-into-the-innersource-process-article-zh.asciidoc
  product-owner/zh/04-new-roles-and-responsibilities-article-zh.asciidoc
  product-owner/zh/05-recap-takeaways-article-zh.asciidoc
  trusted-committer/zh/01-introduction-zh.asciidoc
  trusted-committer/zh/02-ensuring-product-quality-zh.asciidoc
  trusted-committer/zh/03-keeping-the-community-healthy-zh.asciidoc
  trusted-committer/zh/04-uplevelling-community-members-zh.asciidoc
  trusted-committer/zh/05-lowering-the-barriers-to-entry-zh.asciidoc
  trusted-committer/zh/06-advocating-for-the-communitys-needs-zh.asciidoc
  trusted-committer/zh/07-becoming-a-trusted-committer-zh.asciidoc
Labels: Article, Translation, bug

#430 Spanish translation for Trusted Committers section
  trusted-committer/es/01-introduction-es.asciidoc
  trusted-committer/es/02-ensuring-product-quality-es.asciidoc
  trusted-committer/es/03-keeping-the-community-healthy-es.asciidoc
  trusted-committer/es/04-uplevelling-community-members-es.asciidoc
  trusted-committer/es/05-lowering-the-barriers-to-entry-es.asciidoc
  trusted-committer/es/06-advocating-for-the-communitys-needs-es.asciidoc
  trusted-committer/es/07-becoming-a-trusted-committer-es.asciidoc
  trusted-committer/es/08-conclusion-es.asciidoc
  trusted-committer/es/index.md
Labels: Article, Translation, Trusted Committer

#410 Add Intro -> 06 conclusions Spanish translation
  introduction/es/06-conclusion.asciidoc
Labels: Article, Introduction, Translation

#432 Learning path automation
  .github/workflows/publish-to-website.yml
  config/urls.yaml
Labels: Self-Hosting

#437 Include reviewers as contributors
  scripts/get_contributors.js
Labels: Self-Hosting

#435 Create document structure
  sprint-implementation/01-introduction.md
  sprint-implementation/02-project-prerequisites.md
  sprint-implementation/03-contribution-prerequisites.md
  sprint-implementation/04-sprint-planning.md
  sprint-implementation/05-during-sprint.md
  sprint-implementation/06-after-sprint.md
Labels: Article
