Repository InnerSourceCommons/InnerSourceLearningPath, pull requests merged in 2021-06, with the labels that each got.

#411 Website generation scripts work from Windows
  scripts/get_contributors.js
Labels: Self-Hosting

#412 #382 added italian index.md for contributor and introduction
  contributor/it/03-contributor-ethos-article-it.asciidoc
  contributor/it/04-mechanics-of-contributing-article-it.asciidoc
  contributor/it/index.md
  introduction/it/index.md
Labels: Article, Self-Hosting, Translation

#408 Translation-ja: Add product-owner/ja/01-opening-article
  product-owner/ja/01-opening-article-ja.asciidoc
Labels: Article, Product Owner, Translation

#413 Translation-ja: Add product-owner/ja/02-how-difficult-it-is-to-be-a-middle-manager
  product-owner/ja/02-how-difficult-it-is-to-be-a-middle-manager-article-ja.asciidoc
Labels: Article, Product Owner, Translation

#418 Product Owner: Minor fix in closing message
  product-owner/06-closing-and-contact-article.asciidoc
Labels: Article, Product Owner, Translation

#417 Translation-ja: Fix broken links in Japanese translation
  product-owner/ja/01-opening-article-ja.asciidoc
  trusted-committer/ja/04-uplevelling-community-members-ja.asciidoc
  trusted-committer/ja/05-lowering-the-barriers-to-entry-ja.asciidoc
  trusted-committer/ja/06-advocating-for-the-communitys-needs-ja.asciidoc
  trusted-committer/ja/07-becoming-a-trusted-committer-ja.asciidoc
Labels: Article, Translation

#416 Translation-ja: Add product-owner/ja/03-major-benefits
  product-owner/ja/03-major-benefits-are-built-into-the-innersource-process-article-ja.asciidoc
Labels: Article, Product Owner, Translation

#414 Adds a machine translation of the introduction articles and index.md to French using DeepL
  introduction/fr/01-introduction.asciidoc
  introduction/fr/02-problèmes-résolus.asciidoc
  introduction/fr/03-comment fonctionne.asciidoc
  introduction/fr/04-avantages.asciidoc
  introduction/fr/05-principles.asciidoc
  introduction/fr/06-conclusion.asciidoc
  introduction/fr/index.md
Labels: Article, Introduction, Translation

#422 Revert "Translation-ja: Add product-owner/ja/03-major-benefits"
  product-owner/ja/03-major-benefits-are-built-into-the-innersource-process-article-ja.asciidoc
Labels: Article, Product Owner, Translation

#423 Translation-ja: Add product-owner/ja/04-new-roles-and-responsibilities
  product-owner/ja/04-new-roles-and-responsibilities-article-ja.asciidoc
Labels: Article, Product Owner, Translation

#426 Reduce manual steps for adding new translations
  scripts/README.md
  scripts/generate_learning_path_markdown.js
  scripts/section_data.json
Labels: Self-Hosting, Translation

#421 Update 02-problèmes-résolus.asciidoc
  introduction/fr/02-problèmes-résolus.asciidoc
Labels: Article, Introduction, Translation

#420 Update 01-introduction.asciidoc
  introduction/fr/01-introduction.asciidoc
Labels: Article, Introduction, Translation

#429 CONTRIBUTING.md: Add an instruction to point translated landing page
  CONTRIBUTING.md
Labels: Article, Self-Hosting

#431 Updating youtube link
  config/urls.yaml
Labels: Self-Hosting, Video, bug
